--pre
azure-ai-projects>=2.0.0b2
azure-identity>=1.26.0b1
agent-framework-core==1.0.0b260106
agent-framework-azure-ai==1.0.0b260106
pydantic>=2.12.5
openai>=1.0.0
python-dotenv>=1.0.0
fastapi
uvicorn[standard]
